*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Sans-serif"
}

body{
  background: #f9ca24;
}

.card{
  background: #2c3e50;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  cursor: pointer;
  width: 340px;
  height: 480px;
  text-align: center;
  color: white;
}

.heading{
  position: relative;
  top: 10%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.meaning{
  position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.search-box{
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #f9ca24;
  height: 40px;
  border-radius: 40px;
  padding: 10px;
}

.search-box:hover .search-txt{
  width: 200px;
  padding: 0 6px;
}

.search-btn{
  color: white;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f9ca24;
}

.search-txt{
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  /*padding-left: 5px;
  padding-right: 5px; */
  color: #2c3e50;
  font-size: 20px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
}
